# Recomendações não-personalizadas
## Filmes que são frequentemente assistidos pelas mesmas pessoas

In [2]:
# Importando os pacotes

import pandas as pd
from itertools import permutations

In [5]:
# Lendo o CSV e armazenando em um DataFrame

df = pd.read_csv("/Users/lucasmartins/Documents/LucasMartins/Projetos/Recomendacao/Recomendacao_nao_personalizada_filmes/user_ratings.csv")
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [6]:
# Selecionando apenas as colunas de usuários e títulos

df = df[["userId", "title"]]
df.head()

   userId             title
0       1  Toy Story (1995)
1       5  Toy Story (1995)
2       7  Toy Story (1995)
3      15  Toy Story (1995)
4      17  Toy Story (1995)

In [7]:
# Criando a função que encontrará todas as combinações de pares de livros

def create_pairs(x):
    #Cria as combinações e empacota em um DataFrame

    pairs = pd.DataFrame(list(permutations(x.values, 2)), columns=["movie_a", "movie_b"])

    return pairs

In [8]:
# Aplicando a função nos dados e criando os pares individuais

movie_pairs = df.groupby("userId")["title"].apply(create_pairs)
print(movie_pairs.head())

                   movie_a                      movie_b
userId
1      0  Toy Story (1995)      Grumpier Old Men (1995)
       1  Toy Story (1995)                  Heat (1995)
       2  Toy Story (1995)  Seven (a.k.a. Se7en) (1995)
       3  Toy Story (1995)   Usual Suspects, The (1995)
       4  Toy Story (1995)   From Dusk Till Dawn (1996)

In [11]:
# Limpando os resultados

movie_pairs = movie_pairs.reset_index(drop=True)
print(movie_pairs.head())

            movie_a                      movie_b
0  Toy Story (1995)      Grumpier Old Men (1995)
1  Toy Story (1995)                  Heat (1995)
2  Toy Story (1995)  Seven (a.k.a. Se7en) (1995)
3  Toy Story (1995)   Usual Suspects, The (1995)
4  Toy Story (1995)   From Dusk Till Dawn (1996)

In [12]:
# Descobrindo quantas vezes cada combinação ocorre

pair_counts = movie_pairs.groupby(["movie_a", "movie_b"]).size()
print(pair_counts.head())

movie_a     movie_b
'71 (2014)  (500) Days of Summer (2009)                   1
            10 Cloverfield Lane (2016)                    1
            127 Hours (2010)                              1
            13 Assassins (Jûsan-nin no shikaku) (2010)    1
            13 Hours (2016)                               1
dtype: int64

In [13]:
# Convertendo para DataFrame

pair_counts_df = pair_counts.to_frame(name= "size").reset_index()
print(pair_counts_df.head())

      movie_a                                     movie_b  size
0  '71 (2014)                 (500) Days of Summer (2009)     1
1  '71 (2014)                  10 Cloverfield Lane (2016)     1
2  '71 (2014)                            127 Hours (2010)     1
3  '71 (2014)  13 Assassins (Jûsan-nin no shikaku) (2010)     1
4  '71 (2014)                             13 Hours (2016)     1

In [14]:
# Classificando o DataFrame

pair_counts_sorted = pair_counts_df.sort_values("size", ascending=False)
print(pair_counts_sorted.head(10))

                                   movie_a                           movie_b  \
20672049  Shawshank Redemption, The (1994)               Forrest Gump (1994)
8538313                Forrest Gump (1994)  Shawshank Redemption, The (1994)
8537603                Forrest Gump (1994)               Pulp Fiction (1994)
18567035               Pulp Fiction (1994)               Forrest Gump (1994)
20675275  Shawshank Redemption, The (1994)               Pulp Fiction (1994)
18571122               Pulp Fiction (1994)  Shawshank Redemption, The (1994)
18571206               Pulp Fiction (1994)  Silence of the Lambs, The (1991)
20932489  Silence of the Lambs, The (1991)               Pulp Fiction (1994)
20675997  Shawshank Redemption, The (1994)  Silence of the Lambs, The (1991)
20929081  Silence of the Lambs, The (1991)               Forrest Gump (1994)

          size
20672049   231
8538313    231
8537603    230
18567035   230
20675275   222
18571122   222
18571206   207
20932489   207
20675997   199
20929081   199

In [15]:
#  Recomendação dos filmes que são frequentemente juntos

# movie_a, você passará o filme que deseja saber as recomedações.
# movie_b, retornará a lista de filmes que frequentemente são assistidos pela mesma pessoa, do movie_a, e a frequência que ocorre.

pair_counts_sorted[pair_counts_sorted["movie_a"] == "Wolf of Wall Street, The (2013)"].head(10)

,movie_a,movie_b,size
25840294,"Wolf of Wall Street, The (2013)","Dark Knight, The (2008)",43
25840965,"Wolf of Wall Street, The (2013)",Forrest Gump (1994),41
25841736,"Wolf of Wall Street, The (2013)",Inception (2010),40
25843822,"Wolf of Wall Street, The (2013)","Shawshank Redemption, The (1994)",40
25840860,"Wolf of Wall Street, The (2013)",Fight Club (1999),40
25842493,"Wolf of Wall Street, The (2013)","Matrix, The (1999)",39
25840293,"Wolf of Wall Street, The (2013)","Dark Knight Rises, The (2012)",37
25840484,"Wolf of Wall Street, The (2013)",Django Unchained (2012),36
25843348,"Wolf of Wall Street, The (2013)",Pulp Fiction (1994),36
25843881,"Wolf of Wall Street, The (2013)","Silence of the Lambs, The (1991)",35